* {
  margin: 0px;
  padding: 0px;
}

header,
section,
footer,
aside,
nav,
article,
hgroup {
  display: block;
}

body {
  text-align: center;
}

#cabecera {
  font: bold 60px verdana, sans-serif;
  text-shadow: grey 3px 3px 3px;
  color: rgb(85, 3, 67);
  padding: 5px;
  float: left;
}

#pie {
  font: bold 10px verdana, sans-serif;
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
}

#agrupar {
  width: 960px;
  margin: 15px auto;
  text-align: left;
}

#menu {
  background: rgb(85, 3, 67);
  padding: 10px 15px;
  clear: both;
}

#menu li {
  display: inline-block;
  list-style: none;
  padding: 2px;
  color: white;
  font: bold 20px verdana, sans-serif;
}

#articulo {
  float: left;
  width: 680px;
  margin: 20px 0px 0px 0px;
  font: 15px verdana, sans-serif;
}

#columna {
  float: left;
  width: 220px;
  margin: 20px 0px 20px 20px;
  padding: 20px;
  background: rgb(204, 204, 204);
  font: 15px verdana, sans-serif;
}

.titulo {
  font: 30px verdana, sans-serif;
}
h2 {
  font: 20px verdana, sans-serif;
}

#imagen {
  float: left;
  padding: 0px 30px;
}

article {
  background: rgb(239, 209, 247);
  padding: 20px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
